* {
    margin: 0;
    padding:0;
}

fieldset, legend {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}

body {
    height: 100vh;
    background-color: slategray;
}

div {
    background-color: lightgray;
}

a {
    color:mediumseagreen;
}

p {
    display: none;
    text-align: center;
    color: white;
    font-size: 2vh;
    padding-top: 2vh;
}

#clicker {
    text-align:center;
    float: left;
    margin-top: 70vh;
    margin-bottom:15vh;
    width: 18.33%;
    font-size:.2em;
    color: mediumseagreen;
    font-weight: bold;
}


input {
    width: 18.1%;
    float: left;
    margin-top: 70vh;
    margin-bottom:15vh;
    text-align:center;
    font-size:.2em;
    color:mediumseagreen;
    text-emphasis: bolder;
}

#range {
    clear:left;
    margin-left:22.5%;
}


img {
    position: absolute;
    bottom: 0;
    max-width:20%;
    max-height: 15vh;
    margin-bottom:2vh;
    left:40%;
    display:none;
}

.bordered {
    border: 3px sol slategray;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}


h1 {
    color: slategray;
}

.container {
    width:93%;
    margin-left: 3%;
    position: relative;
}

header {
    position: fixed;
    bottom: 100;
    width:100%;
    margin: 0;
    z-index: 9;
    background-color: slateblue;
}

.tom {
    float: left;
    width:250px;
    background-color: antiquewhite;
    padding-top: 10px;
    padding-left: 60px;
    padding-right: 10px;
    background-image: none;

}

.About{
    float: right;
    padding-top: 25px;
    padding-bottom: 5px;
    background-color: antiquewhite;

    
}
.Profile {
    float: right;
    margin-right:2%;
    margin-left:4%;
    padding-top: 25px;
    padding-bottom: 5px;
    background-color: antiquewhite;

    
}

.Settings {
    float: right;
    padding-top: 25px;
    padding-bottom: 5px;
    margin-left:4%;
    background-color: antiquewhite;

    
    
}

.tom {
    margin-left:5%;
}

.About {
    margin-right: 5%;
}

#see {
    display:block;
}

#initial-box {
    background-color: antiquewhite;
    height: 45vh;
    width: 55vw;
    display:block;
    position: absolute;
    margin-top:12vh;
    margin-left: 22.5vw;
    color: slategray;
    background-image: url("../../assets/images/social.png");
    background-size: 100% 100%;
    border: 10px sol slateblue;
}

#search-box {
    background-color: antiquewhite;
    height: 45vh;
    width: 55vw;
    display:none;
    position: absolute;
    margin-top:12vh;
    margin-left: 22.5vw;
    color: slategray;
    background-image: url("../../assets/images/noevents.png");
    background-size: 100% 100%;
    border: 3px sol slateblue;
}

iframe {
    display:none;
    height:35vh;
    bottom: 0;
    position: absolute;
    border: 0;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: mediumseagreen;
    color: black;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
    position: absolute;
    margin-top: 34vh;
    left: 2%;
  }
  
  .next {
    background-color: #f1f1f1;
    color: black;
    position: absolute;
    margin-top: 34vh;
    right: 2%;
  }
  
  .round {
    border-radius: 50%;
  }

  #categories {
      position: absolute;
      height: 18vh;
      width:100vw;
      bottom: 0;
      margin-bottom:4vh;
  }


@media only screen and (max-width: 980px) {

    .tom {
        margin-left:5%;
    }

    .About {
        margin-right: 5%;
    }

    .container {
        width: 100%;
        margin-left: 0;
    }

    #clicker {
        text-align:center;
        float: left;
        margin-top: 70vh;
        margin-bottom:15vh;
        width: 23.33vw;
        font-size:.75em;
    }
    
    input {
        width: 23.1;
        float: left;
        margin-top: 70vh;
        margin-bottom:15vh;
        text-align:center;
        font-size:.75em;
        font-weight: bold;
    }
    
    #range {
        clear:left;
        margin-left:15%;
    }

    #initial-box {
        width: 70vw;
        margin-left: 15vw;
    }

    #search-box {
        width: 70vw;
        margin-left: 15vw;
    }

    #type-games{
        width: 20vw;
    }
    
}

    

@media only screen and (max-width: 768px) {

    .tom {
        float:none;
        width: 100%;
        text-align: center;
        padding-top:0;
        margin-top:0;
        margin-left:0;
        padding-left: 0;
        padding-right: 0;
    }
    .About {
        float:left;
        text-align: center;
        margin-left: 17%;
        width: 18%;
        margin-right: 0;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .Profile {
        float:left;
        text-align: center;
        margin-left:6%;
        width: 18%;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .Settings {
        float:left;
        text-align: center;
        margin-left: 6%;
        width: 18%;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    header {
        padding:0;
        background-color: antiquewhite;
        border-bottom: 1px gray solid;
    }
  
    .container {
        width: 100%;
        margin-left: 0;
    }
    
    #initial-box {
        margin-top: 14vh;
    }

    #search-box {
        margin-top: 14vh;
    }

    .previous {
        margin-top: 35vh;
      }
      
    .next {
    margin-top: 35vh;
    }

    
}

@media only screen and (max-width: 640px) {

    header {
        position: absolute;
        padding:0;
        margin: 0;
        background-color: antiquewhite;
        border-bottom: 1px gray solid;
        width:100%;
        font-size: 2vh;
        height: 120h;
    }

    h1 {
        color: white;
        text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
    }
    
    .tom {
        float:none;
        width: 100%;
        text-align: center;
        padding-top:10px;
        padding-bottom:10px;
        margin-top:0;
        margin-left:0;
        padding-left: 0;
        padding-right: 0;
        margin-right: 0;
        background-color: mediumseagreen;
    }

    .About {
        float:left;
        text-align: center;
        margin-left: 15.5%;
        width: 18%;
        margin-right: 0;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .Profile {
        float:left;
        text-align: center;
        margin-left:6%;
        width: 18%;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .Settings {
        float:left;
        text-align: center;
        margin-left: 6%;
        width: 18%;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .container {
        width: 100%;
        margin-left: 0;
    }
    
    #clicker {
        position: relative;
        text-align:center;
        float: left;
        margin-top: 70vh;
        margin-bottom:15vh;
        width: 32%;
        font-size:2.25vw;
        z-index:200;
        height: 8.6vh;

    }
    
    input {
        position: relative;
        width: 32%;
        float: left;
        margin-top: 70vh;
        margin-bottom:15vh;
        text-align:center;
        font-size:2.25vw;
        z-index:200;
        height: 8vh;
    }
    
    #range {
        clear:left;
        margin-left:0%;
        width:33%;
        margin-left: .5%;
    }

    #initial-box {
        width: 80vw;
        margin-left: 10vw;
        margin-top: 18vh;
    }

    #search-box {
        width: 80vw;
        margin-left: 10vw;
        margin-top:18vh;
    }

    .next {
        right:1%;
        margin-top: 36vh;
    }

    .previous {
        left:1%;
        margin-top: 36vh;
    }

  
  
}



